/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    color: white;
}




/* MAIN */
#main {
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;

    /* DEBUG */
    background-color: aqua;
}

/* menu di sinistra */
#left-menu {
    width: 225px;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* logo */
#logo{
    width: 90%;
}

.extended-logo{
    width: 100%;
    padding: 20px 55px 20px 10px;
}

.icon{
    display: none;
}

/* lista home - cerca - libreria */
#left-menu nav{
    width: 100%;

    /* DEBUG */
    height: 100px;
    background-color: antiquewhite;
}


/* playlist */
#playlist{
    width: 100%;

    /* DEBUG */
    height: 250px;
    background-color:azure;
}

/* profilo e installa app */
#profile{
    width: 100%;
    /* capire se è la soluzione giusta */
    margin-top: auto;

    /* DEBUG */
    height: 50px;
    background-color: aquamarine;
    
}

/************ RESPONSIVE MAIN - menu di sinistra  *************/

/* MD */
@media all and (max-width: 878px) {}

/* S */
@media all and (max-width: 639px) {}

/* XS */
@media all and (max-width: 552px) {
    /* cambio larghezza sezione */
    #left-menu {
        width: 50px;
    }

    .extended-logo{
        display: none;
    }

    .icon{
        display: inline-block;
        width: 100%;
        padding: 5px;
    }

    
}

/************ ---------------------------------------- *************/






/* sezione principale di scelta brani */

/* sfondo della sezione principale */
#right-section{
    width: calc(100% - 225px);
    height: 100%;
    background-color: #151822;
}

/* barra dell'upgrade */
#upgrade{
    height: 100px;
    width: calc(100% - 225px);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 90;
}

a{

    /* DEBUG */
    background-color: red;
}

/* container scelta brani */
#gallery{
    padding: 100px 20px 0;
    overflow-y: auto;
    height: calc(100vh - 100px);
}

/* menu di navigazione  */
#gallery nav{
    width: 100%;

    /* DEBUG */
    height: 50px;
    background-color:blue;
}

/* Ascoltati di recente */
#recently-played{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    

    /* DEBUG */
    /* height: 200px; */
    background-color: cadetblue;
}

#recently-played div{
    width: calc(100% / 6 - 10px);
    /* capire se ha senso una larghezza minima */
    /* min-width: 140px; */

    /* DEBUG */
    height: 150px;
    background-color: brown;
}

/************ RESPONSIVE MAIN - sezione scelta dei brani  *************/

/* MD */
@media all and (max-width: 878px) {
    #recently-played div{
        width: calc(100% / 4 - 10px);
    }
}

/* S */
@media all and (max-width: 639px) {
    #recently-played div{
        width: calc(100% / 2 - 10px);
    }
}

/* XS */
@media all and (max-width: 552px) {

    /* cambio larghezza sezione */
    #right-section, #upgrade{
        width: calc(100% - 50px);
    }
    
}

/************ ---------------------------------------- *************/






/* PLAYER */
#player {
    width: 100%;
    min-width: 552px;
    height: 100px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 90;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#listening{
    width: 20%;
    min-width: 184px;

    /* DEBUG */
    height: 50px;
    background-color: aqua;
}

#command{
    width: 40%;
    min-width: 184px;

    /* DEBUG */
    height: 50px;
    background-color: aqua;
}

#extra{
    width: 20%;
    min-width: 184px;

    /* DEBUG */
    height: 50px;
    background-color: aqua;
}

/************ RESPONSIVE PLAYER  *************/
/* MD */
@media all and (max-width: 878px) {}

/* S */
@media all and (max-width: 639px) {}

/* XS */
@media all and (max-width: 552px) {}

/************ ---------------------------------------- *************/